@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: 'RockwellStd';
  src: url("../fonts/RockwellStd-Light.otf");
}
.container {
  display: block;
  max-width: 1500px;
  margin: 0 auto;
}
.resize {
  max-width: 1110px;
  margin: 0 auto;
}
.header {
  background-color: #43ba7b;
}
.header .capture {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  font-family: RockwellStd;
  font-size: 20px;
  line-height: 32px;
}
.header .capture::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 28px;
  top: 31px;
  left: -3px;
  background: url("../img/Camera.png");
}
.header .list {
  display: inline-block;
  margin-right: 350px;
  font-family: OpenSans;
  font-size: 16px;
}
.header .list li {
  display: inline-block;
  margin-right: 25px;
}
.header .list li .header .list li:last-child {
  margin-right: 0;
}
.header .list li a {
  color: white;
  text-decoration: none;
}
.header .media {
  display: inline-block;
  font-size: 0;
}
.header .media li {
  display: inline-block;
}
.header .media li:last-child a {
  margin-right: 0;
}
.header .media li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url("../img/Facebook.png") center no-repeat;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
}
.header .media li:nth-of-type(1) a {
  background: url("../img/Facebook.png") center no-repeat;
}
.header .media li:nth-of-type(2) a {
  background: url("../img/twiter.png") center no-repeat;
}
.header .media li:nth-of-type(3) a {
  background: url("../img/google.png") center no-repeat;
}
.photo-block {
  display: inline-block;
  width: 1500px;
  height: 560px;
  background: url("../img/big-photo.png") center no-repeat;
}
.app-download-block {
  display: inline-block;
  padding-top: 175px;
  padding-left: 280px;
}
.app-download-block .title {
  margin-top: 0;
  color: #525252;
  font-family: OpenSans;
  font-weight: bold;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}
.app-download-block .text {
  color: #6e6c6c;
  font-family: OpenSans;
  font-size: 16px;
}
.app-download-block .button {
  position: relative;
  display: inline-block;
  padding-left: 68px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #525252;
  border: 2px solid #525252;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}
.app-download-block .button-iphone {
  margin-right: 20px;
}
.app-download-block .button-iphone::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 16px;
  top: 18px;
  left: 38px;
  background: url("../img/iphone.png");
}
.app-download-block .button-android::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 18px;
  left: 38px;
  background: url("../img/andriod.png");
}
.links-block {
  background-color: #f3f3f3;
}
.links-block ul {
  padding-left: 250px;
}
.links-block ul li {
  display: inline-block;
  list-style-type: none;
}
.links-block ul li a {
  display: inline-block;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 80px;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
}
.links-block ul li:last-child a {
  margin-right: 0;
}
.links-block .google {
  width: 132px;
  height: 27px;
  background: url("../img/big-google.png") center no-repeat;
}
.links-block .facebook {
  width: 132px;
  height: 27px;
  background: url("../img/big-facebook.png") center no-repeat;
}
.links-block .yahoo {
  width: 132px;
  height: 27px;
  background: url("../img/big-yahoo.png") center no-repeat;
}
.links-block .paypal {
  width: 132px;
  height: 27px;
  background: url("../img/big-paypal.png") center no-repeat;
}
.phone-block {
  display: inline-block;
  vertical-align: top;
  padding-top: 60px;
  margin-left: 280px;
}
.phone-block .about {
  vertical-align: top;
  margin-left: 150px;
  display: inline-block;
  max-width: 600px;
}
.phone-block .title {
  margin-top: 0;
  color: #525151;
  font-family: OpenSans;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: 0.01rem;
  font-weight: bold;
  text-transform: uppercase;
}
.phone-block .text {
  color: #767272;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.01rem;
}
.phone-block .features {
  padding-top: 20px;
  padding-left: 40px;
  margin-bottom: 50px;
  color: #6d6c6c;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  line-height: 44px;
  letter-spacing: 0.01rem;
  list-style-type: none;
}
.phone-block .features li {
  position: relative;
}
.phone-block .features li:nth-of-type(1)::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 17px;
  top: 12px;
  left: -42px;
  background: url("../img/mini-camera.png") center no-repeat;
}
.phone-block .features li:nth-of-type(2)::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 15px;
  top: 14px;
  left: -42px;
  background: url("../img/mini-video.png") center no-repeat;
}
.phone-block .features li:nth-of-type(3)::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 17px;
  top: 12px;
  left: -42px;
  background: url("../img/mini-eye.png") center no-repeat;
}
.phone-block .features li:nth-of-type(4)::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 21px;
  top: 10px;
  left: -42px;
  background: url("../img/mini-map.png") center no-repeat;
}
.phone-block .features li:nth-of-type(5)::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 21px;
  top: 12px;
  left: -42px;
  background: url("../img/mini-pin.png") center no-repeat;
}
.phone-block .watch-video {
  display: inline-block;
  position: relative;
  padding-left: 75px;
  padding-right: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #525252;
  color: #525252;
  font-family: OpenSans-Semibold;
  letter-spacing: 0.01rem;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
}
.phone-block .watch-video::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 17px;
  top: 18px;
  left: 38px;
  background: url("../img/Play.png") center no-repeat;
}
.phone-block .get-the-app {
  margin-left: 30px;
  color: #6d6c6c;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.01rem;
}
.features-block {
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 85px;
  padding-bottom: 15px;
  background-color: #41c17d;
}
.features-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
}
.features-block ul li {
  margin-right: 55px;
  position: relative;
  list-style-type: none;
  max-width: 320px;
}
.features-block ul li:nth-of-type(3) {
  margin-right: 0px;
}
.features-block ul li:nth-of-type(6) {
  margin-right: 0px;
}
.features-block ul li .title {
  position: relative;
  padding-top: 80px;
  padding-left: 25px;
  margin-top: 0;
  color: white;
  font-family: OpenSans-Semibold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
}
.features-block ul li:nth-of-type(1) .title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 140px;
  background: url("../img/midle-people.png") center no-repeat;
}
.features-block ul li:nth-of-type(2) .title::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 32px;
  top: 0;
  left: 140px;
  background: url("../img/midle-map.png") center no-repeat;
}
.features-block ul li:nth-of-type(3) .title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 140px;
  background: url("../img/midle-box.png") center no-repeat;
}
.features-block ul li:nth-of-type(4) .title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 140px;
  background: url("../img/midle-comment.png") center no-repeat;
}
.features-block ul li:nth-of-type(5) .title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 140px;
  background: url("../img/midle-setting.png") center no-repeat;
}
.features-block ul li:nth-of-type(6) .title::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 32px;
  top: 0;
  left: 140px;
  background: url("../img/midle-print.png") center no-repeat;
}
.features-block ul li .text {
  padding-bottom: 70px;
  margin-top: 0;
  text-align: center;
  color: white;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01rem;
}
.comment-block {
  padding-top: 85px;
  padding-bottom: 85px;
  text-align: center;
}
.comment-block .text {
  display: block;
  max-width: 950px;
  margin: 0 auto 40px auto;
  color: #767272;
  font-family: OpenSans;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.01rem ;
}
.comment-block .name {
  margin-bottom: 5px;
  color: #4b4848;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}
.comment-block .description {
  color: #6f6d6d;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03rem;
  font-family: OpenSans;
}
.email-block {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #41c17d;
}
.email-block form label {
  position: relative;
  display: block;
  margin-bottom: 40px;
  text-align: center;
  color: white;
  font-family: OpenSans;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.01rem;
}
.email-block form label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  top: 87px;
  left: 890px;
  background: url("../img/green-email.png");
}
.email-block form input {
  width: 348px;
  height: 50px;
  padding-left: 20px;
  color: #41c17d;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.01rem;
}
.footer .systems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  padding-top: 70px;
  padding-bottom: 40px;
}
.footer .systems li {
  display: inline-block;
  list-style-type: none;
  margin-right: 60px;
}
.footer .systems li:last-child {
  margin-right: 0;
}
.footer .systems a {
  display: inline-block;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
}
.footer .systems .andriod {
  width: 33px;
  height: 38px;
  background: url("../img/big-andriod.png") center no-repeat;
}
.footer .systems .ios {
  width: 28px;
  height: 38px;
  background: url("../img/big-apple.png") center no-repeat;
}
.footer .systems .windows {
  width: 33px;
  height: 38px;
  background: url("../img/big-windows.png") center no-repeat;
}
.footer .copyright {
  text-align: center;
  color: #767272;
  font-family: OpenSans;
  font-size: 12px;
  letter-spacing: 0.066rem;
  margin-bottom: 70px;
}
.footer .copyright span {
  color: #565555;
  font-family: OpenSans-Semibold;
}
